---
const { title, subtitle } = Astro.props;
---

<div class="text-gray-800 max-w-3xl mx-auto p-2 text-center">
  <h1 class="text-6xl font-extrabold">{title}</h1>
  <h2 class="text-4xl py-2">{subtitle}</h2>
  <hr class="my-2 border-gray-300" />
</div>
