---
import IndexLayout from '../../layouts/IndexLayout.astro';

const { lang } = Astro.props;

const title = 'Tienes que mirar el correo';

const subtitle = '';
---

<IndexLayout title={title} description={subtitle} lang={lang}>
  <section class="space-y-6">
    <p>El recurso debe estar en la bandeja de entrada de tu correo electrónico.</p>

    <p class="font-bold">Si no ves el correo, revisa la carpeta de spam o promociones.</p>
  </section>
</IndexLayout>
