---
import IndexLayout from '../../layouts/IndexLayout.astro';

const { lang } = Astro.props;

const title = 'Todavía NO estás suscrito';

const subtitle = 'Tienes que mirar el correo';
---

<IndexLayout title={title} description={subtitle} lang={lang}>
  <section class="space-y-6">
    <p>
      Lo único que tienes que hacer el entrar en el enlace que te he enviado y confirmar que quieres
      recibir mis correos.
    </p>

    <p class="font-bold">Si no ves el correo, revisa la carpeta de spam o promociones.</p>
  </section>
</IndexLayout>
