---
import IndexLayout from '../../layouts/IndexLayout.astro';
import { ROUTES } from '../../constants/routes';

const { lang } = Astro.props;

const title = 'Te has dado de baja';
const subtitle = 'Que tengas un gran día';
---

<IndexLayout title={title} description={subtitle} lang={lang}>
  <section class="space-y-6 text-center">
    <p>
      Si ha sido un error, puedes volver a suscribirte en cualquier momento desde la <a
        href={ROUTES.HOME}
        class="text-cyan-700 hover:underline">página principal</a
      >.
    </p>
  </section>
</IndexLayout>
