---
import { getCollection, render } from 'astro:content';
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import FormattedDate from '../../components/ui/FormattedDate.astro';

export async function getStaticPaths() {
  const projects = await getCollection('projects');

  const paths = projects.map((project: { id: any }) => ({
    params: { slug: project.id },
    props: project,
  }));

  return paths;
}

export const prerender = true;

interface PageProps {
  data: {
    title: string;
    pubDate: string;
    pdf_url: string;
  };
}

const page = Astro.props as PageProps;

const { Content } = await render(page);
---

<ProjectLayout {...page.data}>
  <article class="max-w-screen-md mx-auto p-4">
    <div class="mb-4">
      <h1 class="text-4xl font-extrabold text-gray-900">{page.data.title}</h1>
      <hr class="my-4 border-gray-300" />
    </div>
    <p class="text-gray-600 italic text-base mb-2">
      <FormattedDate date={new Date(page.data.pubDate)} />
    </p>
    <a
      href={page.data.pdf_url}
      class="inline-block text-white bg-cyan-600 border-cyan-900 my-4 py-2 px-4 rounded transition hover:bg-cyan-700 focus:outline-none no-underline"
    >
      Ver en PDF
    </a>
    <div class="prose prose-lg">
      <Content />
    </div>
  </article>
</ProjectLayout>
